*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --a--color: #1a172e;
    --b--color: #39316b;
    --c--color: #ff00ff;
}

.barraSuperior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--a--color);
}

#botones-nav{
    display: flex;
    align-items: center;
}

#styles-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--a--color);
}

#bnt{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#Download{
    padding: 10px;
    background: linear-gradient(to right,#ee4dee ,#8646ec, #4e89f7); 
    color: white;
    border-radius: 3px 3px 3px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    text-decoration: none;
}



.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--a--color);
    height: 80vh;
}

#div-1{
    width: 50%;
    padding: 0px 10px 0px 100px;
    background-color: var(--b--color);
    display: flex;
    align-items: center;
}

h1,h3{
    color: white;
    padding: 0px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-size: 60px;
}

#contenido-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botones-header{
    padding: 4px;
    border-radius: 6px 6px 6px 6px;
    width: 220px;
    border-style: solid ;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#boton1,#boton2{
    width: 100px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
}

#boton1{
    background-color: white;
    color: var(--c--color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 3px 3px 3px 3px;

}

#boton2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 3px 3px 3px 3px;
}

#div-2{
    width: 50%;
    background-image: url("../assets/images/hojasFondo.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--b--color);
}

#img1{
    width: 230px;
    height: 450px;
    position: relative;
    left: 140px;
    top: 250px;

}

.section1{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#titulo{
    color: var(--c--color);
}

#img-sec1{
    width: 30%;
    height: 30%;
    position: relative;
    left: 100px;
    top: 20px;
}

#contenido-sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#texto-sec1{
    width: 30%;

}

#h1-sec1{
    color: var(--c--color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}

#h2-sec1{
    color: var(--c--color);
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

#p{
    padding: 5px 0px;
}

.section2{
    height: 90vh;
    background-color: var(--a--color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#p-sec2{
    width: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 40px 0px;
}

.containerSec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#sec2Tex1,#sec2Tex2,#sec2Tex3{
    background-color: white;
    border-radius: 3px 3px 3px 3px;
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#sec2Tex1{
    position: relative;
    right: 20px;
}

#sec2Tex3{
    position: relative;
    left: 20px;
}

#cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#boton{
    background-color: var(--c--color);
    color: white;
    height: 35px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-style: none;
    border-radius: 3px 3px 3px 3px
}

#boton2{
    background-color: var(--a--color);
    color: white;
    height: 35px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-style: none;
    border-radius: 3px 3px 3px 3px
}

footer{
    background-color: white;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 1279px) {
    #sec2Tex1 {
        right: 5px;
    }

    #sec2Tex3 {
        left: 5px;
    }
}

@media (max-width: 920px) {
    .section2{
        height: auto;
    }

    .containerSec2 {
        flex-wrap: wrap;
    }
}

@media (max-width: 748px){
    #div-1 {
        width: 50%;
       padding: 0px ;
        display: flex;
        align-items: center;
    }

    h1 {
       font-size: 20px; 
    }
    
    h1, h3 {
        padding: 5px; 
    }

    #img1 {
        width: 150px;
        height: 250px;
        position: relative;
        left: 40px;
        top: 50px;
    }

    #bnt {
        padding: 10px 3px;
        font-size: 12px;
    }

    #Download {
        padding: 10px 5px;
        font-size: 13px;
    }

    .containerSec2 {
        flex-wrap: wrap;
    }

    .section2{
        height: auto;
    }

    #contenido-sec1 {
        flex-direction: column;

    }

    #img-sec1 {
        position: static;
    }

    #texto-sec1 {
        width: auto;
    }

    .header{
        height: 50vh;
    }

    #sec2Tex1{
        position: static;
    }

    #sec2Tex3{
        position: static;
    }
}

@media (max-width: 480px){
    .header{
        height: auto;
    }

    h3{
        font-size: 15px;
        margin: 25px;
    }

    .barraSuperior {
        flex-wrap: wrap;
    }

    #boton1{
        width: auto;
    }

    #botones-header{
        width: auto;
        padding: 3px 3px 3px 3px;
        flex-direction: column;
    }

    #contenido-header{
        padding: 7px;
    }

    #p-sec2{
        width: 80%;
    } 

    #botones-nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    #bnt{
        padding: 10px 10px;
    }
}