*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --a--color: #1a172e;
    --b-color: #ffffff;

}

.barraSuperior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--a--color);
}

#botones-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
}